/* start of nav styling */
.logo{
    font-family: 'Sigmar One', cursive;
    color: #fda751;
    margin-left:5px;
}
/* styles the logo font family, and colors the text dark orange */

.topnav-item{
    padding-left: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
/* adds 100px of padding to the left of each nav item */

.topnav-link{
    color: #FA4C48;
    font-weight: bold;
}
/* styles the nav-links to be bold and have a red text color */

.topnav-link:hover{
    color: #B96332;
    text-decoration: underline;
}
/* when you hover on the nav-links, they become dark red and underline */

.active{
    color: #3f1703;
}

body{
    background-color: #e7edd3;
}
/* sets the background color of the back to an off white */

.fa-clock-rotate-left{
    padding-left: 5px;
    --fa-animation-duration:15s;
}
/* puts some padding to the left of the clock, and slows the rotation of the logo*/

/* end of nav styling */

/* section1 styling */

body{
    background-color: #6DBBAB;
}

.form{
    box-sizing: border-box;
}

.header{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 10px;
}


input[type=text], input[type=email]{
    display: block;
    width: 35vw;
    margin-bottom: 15px;
}
/* selects only inputs type text and type email */

.terms{
    font-size: 15px;
}
/* sets the font size of the terms to be a little smaller */

#success_message{
     color: green;
     font-size: 24px;
}

.poster{
    max-width: 100%;
    height: auto;
}

/* end of section1 styling */

/* start of footer styling */
#footer{
    background-color: #4c4541;
    padding-bottom: 20px;
}
/* sets the background color of the footer to be a dark orangey gray */

.bottomLogo{
    font-family: 'Sigmar One', cursive;
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}
/* styles the header for the footer with similar styling to the nav bar logo, but with white text color, underlined, and centered in the page */

.bottomNav-link{
    color:white;
}
/* styles the links of the footer to have a white text color */

.bottomNav-link:hover{
    color: gold;
    text-decoration: underline;
}
/* when you hover over the footer links, they become gold and underline */

.social_media{
    color:white;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 20px;
}
/* styles the social media links with padding, font size and text color */

.follow_us{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 30px;
}
/* styles the "follow us" heading  */

/* end of footer styling */
